Repository rieljasperapos/ai-promo-exploration: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{js,ts,tsx}": "eslint --fix",
  "**/*.{json,md,yml}": "prettier --write",
  "*.js": ["eslint --fix", "prettier --write"]
}

removed eslint mjs
  eslint.config.mjs
Due: none

removed dependencies that were not used
  package-lock.json
  package.json
Due: prettier --write

Create LICENSE
  LICENSE
Due: none

added license
  .github/LICENSE
  .github/README.md
Due: prettier --write

chore: updated tests to follow the new terms structure, update also readme
  .eslintrc.json
  .github/README.md
  eslint.config.mjs
  src/configs/algolia.configs.ts
  src/services/promo.service.ts
  src/tests/promo-service.test.ts
  src/types/promotion-types.ts
Due: eslint --fix, prettier --write

chore: adjusted mock promos data
  data/promos.json
Due: prettier --write

move mocks folder to root
  __mocks__/algoliasearch.js
Due: eslint --fix, prettier --write

added env example
  .env.example
Due: none

nit: change UserPreferences to UserType
  src/services/promo.service.ts
  src/tests/promo-service.test.ts
  src/types/promotion-types.ts
Due: eslint --fix

fix: handle case when no promotions match user data
  src/services/promo.service.ts
Due: eslint --fix

chore: updated readme added different cases for endpoint json responses
  .github/README.md
Due: prettier --write

refactor: changed error object to message for displaying responses
  src/services/promo.service.ts
  src/tests/promo-service.test.ts
Due: eslint --fix

feat(openai): integrate openai to perform NLP based tasks on the promo data
  .github/README.md
  package-lock.json
  package.json
  src/controllers/promo.controller.ts
  src/services/ai.service.ts
Due: eslint --fix, prettier --write

chore: updated env.example
  .env.example
Due: none

nit(readme): updated readme example requests
  .github/README.md
Due: prettier --write

refactor: made the other fields optional aside from location
  src/controllers/promo.controller.ts
Due: eslint --fix

chore: updated readme documentation required fields for request parameters
  .github/README.md
Due: prettier --write
